<ion-toolbar color="primary" style="padding-bottom: 4px">
  <ion-segment 
    value="welcome" 
    (ionChange)="sendClickEvent($event)"
    [(ngModel)]="selectedButton"
  >
    <ion-segment-button value="welcome">
      <ion-icon name="home-outline"></ion-icon>
      {{ "HomePage.Button.Wellcome" | translate }}
    </ion-segment-button>
    
    <!-- boton componente mis-datos -->
    <ion-segment-button value="mis-datos">
      <ion-icon name="person-outline"></ion-icon>
      {{ "HomePage.Button.Mis-datos" | translate }}
    </ion-segment-button>

    <!-- boton componente mi clase -->
    <ion-segment-button value="miclase">
      <ion-icon name="school-outline"></ion-icon>
      {{ "HomePage.Button.Miclase" | translate }}
    </ion-segment-button>

    <ion-segment-button value="forum">
      <ion-icon name="pencil-outline"></ion-icon>
      {{ "HomePage.Button.Forum" | translate }}
    </ion-segment-button>

  </ion-segment>

</ion-toolbar>