<ion-header>
  <div id="headerTitulo">
    <ion-toolbar color="primary">
    
      <ion-title>
        <h3 #titulo2 class="glow-text margin-top-6"> {{ 'AppName' | translate }} </h3>
      </ion-title>
  
      <div slot="end">
  
        <ion-button (click)="sendClickEvent('scan')" size="small" fill="clear">
          <ion-icon name="qr-code-outline" color="light"></ion-icon>
        </ion-button>
  
        <ion-button id="botonSalir"(click)="logout()" size="small" fill="clear">
          <ion-icon name="log-out-outline" color="light"></ion-icon>
        </ion-button>
  
      </div>
    </ion-toolbar>
  </div>

</ion-header>