<ion-header>
  <ion-toolbar class="transparent-bg">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage></app-language>
    </div>
    <div class="show-in-landscape">
      <h1 class="glow-text"> {{ 'AppName' | translate }} </h1>
    </div>
    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        Tema
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img class="background-image" src="/assets/images/FRONTIS-PAO-1-scaled.png.jpg">
 
  <h1 class="glow-text show-in-portrait margin-top-6"> Sistema de Asistencia </h1>

  <ion-card class="login-container transparent-input">

    <ion-card-header>
      <ion-card-title class="vivid-gradient-title">
        <h4><b>Iniciar sesión</b></h4>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="transparent-input text-center">
     
      <!-- Orden de los campos: Correo y Contraseña -->
      <ion-item class="margin-bottom-6">
        <ion-input
          id="userName"
          label="Usuario"
          labelPlacement="floating"
          [(ngModel)]="correo"
          placeholder="Ingrese su correo">
        </ion-input>
      </ion-item>

      <ion-item class="margin-bottom-6">
        <ion-input
        id="password"
          label="Contraseña"
          labelPlacement="floating"
          [(ngModel)]="password"
          placeholder="Ingrese su contraseña"
          type="password">
        </ion-input>
      </ion-item>

      <!-- Botón de Ingresar -->
      <div class="ion-text-center margin-top-6">
        <ion-button class="enter-button normal-text" shape="round" (click)="login()">
          Ingresar
        </ion-button>
      </div>

      <div class="ion-text-center margin-top-6">
        <ion-button class="enter-button normal-text" shape="round" (click)="registrarme()">
          Crear una nueva cuenta 
        </ion-button>
      </div>

      <!-- Botón de ¿Olvidaste tu contraseña? -->
      <div class="ion-text-center margin-top-4">
        <ion-button fill="clear" color="primary" (click)="passwordRecovery()">
          ¿Olvidaste tu contraseña?
        </ion-button>
      </div>

      <!-- Botón de Mi Ruta -->
      <div class="ion-text-center margin-top-4">
        <ion-button color="secondary" shape="round" (click)="navigateToMap()">
          Mi ruta
        </ion-button>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>